.side-contents
  .search-content
    .search-content__title 検索する
    = search_form_for(@q, url:search_path) do |f|
      .seach-box
        = f.label :name, "名前から探す", class:"title"
        = f.search_field :name_cont,  placeholder:"例）たま"
        %br/
      .seach-box
        = f.label :ancestry, "犬・猫", class:"title"
        .seach-box__list
          #{f.radio_button :type_ancestry_eq, '', {checked: true}}
          %p 指定なし
          %br/
        .seach-box__list
          #{f.radio_button :type_ancestry_eq, dogs}
          %p 犬
          %br/
        .seach-box__list
          #{f.radio_button :type_ancestry_eq, cats}
          %p 猫
          %br/
      .seach-box
        = f.label :type_id, '種類', class:"title"
        = f.collection_select :type_id_eq, @search_types, :id, :name, :include_blank => '指定なし'
        %br/
      .seach-box
        = f.label :gender, '性別から探す', class:"title"
        .seach-box__list
          #{f.radio_button :gender_eq, '', {checked: true}}
          %p 指定なし
          %br/
        .seach-box__list
          #{f.radio_button :gender_eq, 1}
          %p オス♂
          %br/
        .seach-box__list
          #{f.radio_button :gender_eq, 2}
          %p メス♀
          %br/
      .seach-box
        = f.label :prefecture_id, '地域から探す', class:"title"
        %br/
        = f.select :prefecture_id_eq, Animal.prefecture_ids.keys, :include_blank => '指定なし'
        %br/
      = f.submit "絞り込む"

