.side-contents
  .search-content
    .search-content__title 検索する
    %ul
      %li
        = link_to "種別から探す", "#", class:"search-content__list"
      %li
        = link_to "性別から探す", "#", class:"search-content__list"
      %li
        = link_to "募集地域から探す", "#", class:"search-content__list"
      %li
        = link_to "年齢期から探す", "#", class:"search-content__list"
      %li
        = link_to "大きさから探す", "#", class:"search-content__list"
      %li
        = link_to "タグから探す", "#", class:"search-content__list"
