%header.user-header
  %h1.title-logo i am...
.main
  .inner
    %h1.inner__title ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name),html:{class: "form-content"}) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in"
      = render "devise/shared/links"
%footer.user-footer
