%header.user-header
  %h1
    = link_to "i am...", root_path, class: "title-logo"
    = fa_icon "paw", class: "bland-icon"
.main
  .inner
    %h1.inner__title 新規登録
    .inner__menu
      = form_for(resource, as: resource_name, url: registration_path(resource_name),html:{class: "form-content"}) do |f|
        = render 'layouts/error_messages', model: f.object
        .field.first
          = f.label :nickname
          %spna.form-require 必須
          %br/
          = f.text_field :nickname, autofocus: true, placeholder: "　３〜１０文字"
        .field
          = f.label :email
          %spna.form-require 必須
          %br/
          = f.email_field :email, autocomplete: "email"
        -if @omniauth.nil?
          .field
            = f.label :password
            %spna.form-require 必須
            - if @minimum_password_length
              -# %em
              -#   (#{@minimum_password_length} 文字以上)
            %br/
            = f.password_field :password, autocomplete: "new-password", placeholder: " 半角英数字6文字以上"
          .field
            = f.label :password_confirmation
            %spna.form-require 必須
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
        .submit
          = f.submit "登録する", class: "btn-default"
        = render "devise/shared/links"
%footer.user-footer